# Dependencias
/vendor/

# Entorno
/.env
/config/provider.local.php

# IDEs
.idea/
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
.DS_Store
Thumbs.db

# ADS de Windows
*:Zone.Identifier
