parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: bin/import-news.php

		-
			message: '#^Strict comparison using \=\=\= between \(int\|string\) and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Providers/YahooParser.php

		-
			message: '#^Strict comparison using \=\=\= between float and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Services/BacktestingService.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Services/MarketDataSerializer.php

		-
			message: '#^Offset 3 on array\{float, float, float\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: tests/Services/BacktestingServiceTest.php

		-
			message: '#^Parameter \#1 \$array \(list\<array\{ticker\: string, message\: string\}\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: tests/Services/InMemoryAlertRepository.php
